<header class="header" layout="row" layout-align="space-between center">
    <div class="logo">
      <img class="logo" src="app/img/profile/logo.gif" alt="logo">
    </div>
    <div class="calendar" layout="row">
      <a ui-sref="">
        <md-icon class="today">today</md-icon>
      </a>
      <a ui-sref="">
        <md-icon id="chevron_left" class="chevron">chevron_left</md-icon>
      </a>
      <span class="day" layout="row" layout-align="center center">22</span>
      <div class="date" layout="column">
            <span class="month">Apr</span>
            <span class="day">Sun</span>
      </div>
      <a ui-sref="">
        <md-icon id="chevron_right" class="chevron">chevron_right</md-icon>
      </a>
    </div>
    <md-button class="user-button" layout="row" layout-align="center center">

    <span class="username">Jesica Alba</span>
      <md-menu md-position-mode="target-right bottom">
      <md-icon ng-click="$mdOpenMenu()">expand_more</md-icon>
      <md-menu-content width="3">
      <md-menu-item>
        <md-button>Profile</md-button>
      </md-menu-item>
      <md-menu-divider role="separator"></md-menu-divider>
      <md-menu-item>
        <md-button>Sign out</md-button>
      </md-menu-item>
    </md-menu-content>
    </md-menu>
    </md-button>
</header>

<div class="teacher-report" layout="row">
  <nav class="navbar">
    <ul>
      <li class="teacher">
        <a ui-sref="#">
          Teacher report
        </a>
      </li>
      <!-- <li> -->
        <ul class="reports1">
          <li>
            <a ui-sref="main.presence">
              Presence
            </a>
          </li>
          <li>
            <a ui-sref="main.presence">
              Diet
            </a>
          </li>
          <li>
            <a ui-sref="#">
              Bottle
            </a>
          </li>
          <li>
            <a ui-sref="#">
              Meals
            </a>
          </li>
          <li>
            <a ui-sref="">
              Potty
            </a>
          </li>
          <!-- <li><a ui-sref="main.potty_report">Potty</a></li> -->
          <li><a ui-sref="#">Nap</a></li>
          <li><a ui-sref="#">Rewards</a></li>
          <li><a ui-sref="#">Personal notes</a></li>
          <li><a ui-sref="#">Class notes</a></li>
          <!-- <li><a ui-sref="#">My Day</a></li> -->
        </ul>
        <ul class="reports2">
          <li><a href="">Parent Sharings</a></li>
          <li><a href="">Messages</a></li>
          <li><a href="">Notifications</a></li>
          <li><a href="">Calendar</a></li>
          <li><a href="">Photo Gallery</a></li>
          <li><a href="">Rewards</a></li>
          <li><a href="">Contacts</a></li>
        </ul>
      <!-- </li> -->
    </ul>
  </nav>
<section flex ui-view></section>
</div>

